/* Comienzan estilos de sección de datos principales y funciones */
#book-info
{
    padding-top: 50px;
    padding-bottom: 30px;
    align-items: flex-start;
}

/* Comienzan estilos para el selector de imagen */
#book-info #image
{
    height: 310px;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    justify-content: end;
    background-repeat: no-repeat;
}

#image #selector-archivo
{
    height: 40px;
}
/* Terminan estilos para el selector de imagen */

/* Comienzan estilos para inputs, selects y listados */
#book-info #main-data
{
    gap: 15px;
}

#main-data #book-name
{
    padding: 5px 7px;
    font-size: 21px;
    font-weight: 500;
    outline: none;
}

#main-data .book-name-status
{
    min-height: 45px;
    display: inline-flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.book-name-status #book-id-text
{
    width: 60%;
    text-align: left;
}

.book-name-status #book-status
{
    width: 40%;
    text-align: right;
}

#book-status .status-tile
{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    padding: 5px 10px;
    border-radius: 3px;
}

.status-tile.published
{
    background: #b70000;
}

.status-tile.draft
{
    background: blue;
}

.status-tile.error
{
    background: black;
}

#book-id-text #id-book
{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

#book-id-text #book-status
{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

#genre-select
{
    display: inline-flex;
    align-items: center;
}

#available-genres,
#available-authors
{
    min-height: 45px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    outline: none;
    margin-right: 10px;
    margin-top: 1px;
}

#available-genres option:disabled,
#available-authors option:disabled
{
    background-color: #d1d1d1;
}

#main-data #genre-list,
#main-data #author-list
{
    min-height: 45px;
}

#genre-list span,
#author-list span
{
    font-size: 12px;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

#author-list span
{
    background-color: #646464;
}

#genre-list span .icon-close,
#author-list span .icon-close
{
    font-size: 15px;
    margin-left: 3px;
    cursor: pointer;
}

#functions
{
    gap: 15px;
}
/* Terminan estilos para inputs, selects y listados */

/* Comienzan estilos generales para botones normales */
.btn
{
    color: #ffffff;
    text-decoration: none;
    /* width: 300px; */
    min-height: 45px;
    padding: 7px 15px;
    background-color: red;
    border: 1px solid red/* !important */;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    outline: none;
    cursor: pointer;
}

.btn.publish-book,
.btn.save-section,
.btn.update-section
{
    background-color: green;
    border-color: green;
}

.btn.publish-book:hover,
.btn.save-section:hover,
.btn.update-section:hover
{
    background-color: darkgreen;
    border-color: darkgreen;
}

.btn:hover
{
    background-color: darkred;
    border-color: darkred/* !important */;
}

.btn:disabled,
.btn[disabled]
{
    border: 1px solid #999999!important;
    background-color: #cccccc!important;
    color: #666666!important;
    cursor: not-allowed!important;
}
/* Terminan estilos generales para botones normales */
/* Terminan estilos de sección de datos principales y funciones */

/* Comienzan estilos de sección de controles para secciones */
#sections-spinner
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 150px;
    display: none;
    z-index: 9;
}

#sections-spinner.active
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sections-spinner .loader
{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #F4F4F4;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.section-intro
{
    display: inline-flex; 
    justify-content: space-between; 
    margin-bottom: 15px;
}

.section-error
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.section-intro h4,
.section-error h4
{
    font-weight: 500;
    color: #ffffff;
}

.section-intro h4
{
    width: 70%;
    font-size: 27px;
}

.section-error h4
{
    font-size: 31px;
}


.section-error p
{
    font-size: 19px;
    color: #f4f4f4;
}

.section-error h5
{
    color: #f4f4f4;
    font-size: 23px;
    font-weight: 400;
}
/* Terminan estilos de sección de controles para secciones */

/* Comienzan estilos de acordeón para las secciones del libro */
#book-sections
{
    margin-top: 30px;
}

#book-sections #section-list
{
    display: inline-flex;
    flex-direction: column;
}

.accordion-section
{
    padding: 5px; 
    background-color: #f4f4f4; 
    display: none; 
    visibility: hidden;
    opacity: 0;
    flex-direction: column; 
    gap: 10px;
    height: 0;
    transition: 0.3s ease-in-out;
    margin-bottom: 3px;
    border-radius: 3px;
}

.accordion-section.active
{
    display: inline-flex;
    visibility: visible;
    opacity: 1;
    height: auto;
}

.accordion-section .section-title-functions
{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.section-title-functions input[type=text]
{
    width: 500px;
    height: 45px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
}

.accordion-button 
{
    text-align: left;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    background: #d1d1d1;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    margin-bottom: 3px;
    transition: 0.3s ease-in-out;
}

.accordion-button:hover
{
    background: #a7a7a7;
    border-color: #a7a7a7;
}
/* Terminan estilos de acordeón para las secciones del libro */

/* Comienzan animaciones de spinner */
@keyframes rotation 
{
    0% 
    {
      transform: rotate(0deg);
    }
    100% 
    {
      transform: rotate(360deg);
    }
} 
/* Terminan animaciones de spinner */